//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 27 11:50:33 2014
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "btn<0>" LOCATE = SITE "B8" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "sum0" LOCATE = SITE "U16" LEVEL 1;
COMP "sum1" LOCATE = SITE "V16" LEVEL 1;
COMP "sum2" LOCATE = SITE "U15" LEVEL 1;
COMP "a0" LOCATE = SITE "T10" LEVEL 1;
COMP "sum3" LOCATE = SITE "V15" LEVEL 1;
COMP "a1" LOCATE = SITE "T9" LEVEL 1;
COMP "b0" LOCATE = SITE "N8" LEVEL 1;
COMP "a2" LOCATE = SITE "V9" LEVEL 1;
COMP "b1" LOCATE = SITE "U8" LEVEL 1;
COMP "a3" LOCATE = SITE "M8" LEVEL 1;
COMP "b2" LOCATE = SITE "V8" LEVEL 1;
COMP "b3" LOCATE = SITE "T5" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
SCHEMATIC END;

